/* Untuk Tablet */
@media all and (max-width: 1000px) {
    .banner{
        height:80px;
        letter-spacing: 5px;
    }
   
    .banner h1{
        font-size:21px;
        padding-top:0px;
        background: linear-gradient(#999, #999) center 3.0em no-repeat;
        background-size: 0% 3px;
    }

    .text-container h1{
        font-size:40px;
        margin-bottom:20px;
    }

    .text-container p{
        font-size:24px;
        margin-bottom:15px;
        line-height: 20px;
    }

    a {
        font-weight: bold;
        font-size: 24px;
    }

    .top-wrapper {
        height: 550px;
    }

    .lesson {
        width: 50%;
    }
 }
 
 /* Untuk Smartphone */
 @media all and (max-width: 670px) {
    .banner h1 {
        font-size: 12px;
        padding-top: 0px;
        background: linear-gradient(#999, #999) center 4.2em no-repeat;
        background-size: 0% 3px;
    }

    .top-container{
        display: block;
    }

    .text-container {
        width:100%;
        padding-top:10px;
        padding-left: 0px;
        margin: auto;
        height: max-content;
    }

    .text-container h1{
        text-align: center;
        font-size:25px;
    }
    .slider-wrapper{
        font-size:35px;
    }

    .text-container p{
        text-align: center;
        font-size:22px;
    }

    .image-container {
        /* padding-top: 20px;
        width: 100%;
        padding-left: 0px;
        display: flex;
        flex-direction: row; */
        display:none;
    }

    .image{
        width:100%;
    }
    
    .container right{
        height: auto;
        width: 33%;
        margin: auto;
    }

    .container left{
        height: auto;
        width: 33%;
        margin: auto;
    }

    .menu-icon{
        display:block !important;
        color:white;
        float:right;
        margin-top:15px;
    }
    .menu-icon:hover{
        color:rgb(168, 168, 168);
    }
    .header-right{
        display:none;
    }

    .lesson {
        width: 100%;
    }

    footer {
        width: 100%;
        border-top: 2px solid #82ccdd;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .footer-left {
        /* float: left; */
        width: 100%;
        padding: 10px 10px;
        text-align: center;
        /* margin-left: 100px; */
    }

    .footer-right {
        /* float: right; */
        padding: 10px 10px;
        width: 100%;
        /* margin-right: 100px; */
        text-align: center;
    }
 }