* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Comic Sans MS";
  }

/* ----------------------------HEADER------------------------------- */
  header {
    height: 45px;
    width: 100%;
    background-color: rgba(0, 75, 90, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
  }

  .logo a{
      display:inline;
      text-decoration: none;
      color: white;
  }

/* ----------------------------MAIN TOP------------------------------- */
  .top-container{
      max-width: 1366px;
      width:100%;
      padding: 0px 12px;
      margin: 0 auto;
  }

  .top-wrapper{
      padding: 100px 40px 80px 40px;
      width: 1366px;
      height: 500px;
      background-image: url(https://raw.githubusercontent.com/alvinadjie/ceb13/master/background.jpg);
      background-size: cover;
  }
  


/* ----------------------------MAIN MIDDLE------------------------------- */





/* ----------------------------MAIN BOTTOM------------------------------- */





/* ----------------------------FOOTER------------------------------- */
